html {
  --color-accent: #e44b44;
  --color-bg: #efebe2;
  --color-text-main: var(--black-900);
  --color-text-secondary: #4b4b4b;
  --black-900: #1a181a;
}

html[data-theme="dark"] {
  --color-accent: #e44b44;
  --color-bg: #1a181a;
  --color-text-main: #efebe2;
  --color-text-secondary: #aaaaaa;
}
